name: Deploy Portfolio

on:
  push:
    branches: ["prod"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/projects/johnrak-portfolio
            git pull origin main
            docker compose down
            docker compose --profile prod up -d --build
            docker image prune -f
